body {
    margin-left: 40px;
    margin-right: 40px;
}

#pageContainer {
    margin-right: 0px;
    margin-left: 0px;
    height: 100vh;
}

.pageHeader {
    text-align: center;
    justify-content: center;
    background-color: black;
    color: white;
    margin-top: 30px;
    padding: 30px;
    margin: 0px;
    font-size: 1.5em;
}

#searchAside {
    background-color: #f2f6f7;
    margin: 20px;
    margin-top: 0px;
    margin-left: 0px;
    padding: 20px;
}

.form-outline {
    width: 70%;
}

.btn-primary {
    width: calc(1.2em + .75rem + 2px);
    height: calc(1.5em + .75rem + 2px);

}

.list {
    margin-right: 60px;
    margin-top: 25px;
}

.listLine {
    min-height: 50px;
    padding: 0px;
}

.searchInput {
    display: flex;
    width: 98%;
    height: 98%;
    margin: 0px;
    padding: 3px;
    padding-left: 8px;
    font-size: 1.5rem;
}

#cityWeather {
    padding: 20px;

}

#cityCurrent {
    border: solid medium #f2f6f7;
    border-right: none;
    padding: 20px;
    padding-bottom: 40px;
}

#currentCityHeader {
    /* font-size: 2em; */
    margin-bottom: 20px;
}

#currentDate {
    padding: 10px;
}

.currentWeatherPic {
    width: .8em;
}

.currentCityInfo {
    padding-top: 20px;
    font-size: 1.3rem;
}

#fiveDayForecast {
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.dayBox {
    text-align: center;
    background-color: #1386eb;
    border-radius: 5px;
    color: white;
    padding: 10px;
    margin: 10px;
    margin-top: 20px;
    font-size: 1.2rem;
}

.dayBoxDate {
    font-size: 1.3em;
    margin-bottom: 15px;
}

.currentWeatherImg {
    width: 90%;
    text-align: center;
}

.dayBoxTemp {
    padding-top: 10px;
    padding-bottom: 10px;
}

.dayBoxHumidity {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* when screen falls below 1000px */
@media screen and (max-width: 1000px) {

    .h2,
    h2 {
        font-size: 1.5rem;
    }

    .currentWeatherImg {
        width: 90%;
    }

    .searchInput {
        font-size: 1.1rem;
    }

    .dayBox {
        font-size: 1.0rem;
    }

    #fiveDaysRow {
        flex-direction: column;
    }

    @media screen and (max-width: 798px) {
        .searchInput {
            font-size: .7rem;
        }
    .dayBox {
        font-size: 0.7rem;
    }
    }