body {
    margin-left: 40px;
    margin-right: 40px;
}

#pageContainer {
    margin-right: 0px;
    margin-left: 0px;
    height: 100vh;
}
.pageHeader {
  text-align: center;
  justify-content: center;
  background-color: black;
  color: white; 
  margin-top: 30px;
  padding: 30px;
  margin: 0px;
}

#searchAside {
    background-color: #f2f6f7;
    margin: 20px;
    margin-top: 0px;
    margin-left: 0px;
    padding: 20px;
}

.form-outline {
    width: 70%;
}

.btn-primary {
    width: calc(1.2em + .75rem + 2px);
    height: calc(1.5em + .75rem + 2px);

}
#cityWeather {
    padding: 20px;
    
}

#cityCurrent {
    border: solid medium #f2f6f7;
    border-right: none;
    padding: 20px;
    padding-bottom: 40px;
}

#currentCityHeader {
    font-size: 2em;
    margin-bottom: 20px;
}

#currentDate {
    padding: 10px;
}

.currentCityInfo {
    padding-top: 20px;
}

#fiveDayForecast {
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.dayBox {
    background-color: #1386eb;
    border-radius: 5px;
    color: white;
    padding: 10px;
    margin: 10px;
    margin-top: 20px;
}

.dayBoxDate {
    font-size: 1.3em;
    margin-bottom: 15px;
}

.dayBoxWeatherPic {
    width: 50%;
    padding: 10px;
}

.dayBoxTemp {
    padding-top: 10px;
    padding-bottom: 10px;
}

.dayBoxHumidity {
    padding-top: 10px;
    padding-bottom: 10px;
}